@import 'vars';

#header {
  .header-top {
    .menu {
      font-family: $font-secondary;
      margin: 0;
      padding: 0;
    }
  }

  .top-menu {
    margin: 0;
    padding: 0;
  }
}

.display-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

