/* ==========================================================================
   Fonts
   ========================================================================== */
$font-primary: 'Shadows Into Light', cursive;
$font-secondary: 'Raleway', sans-serif;

/* ==========================================================================
   Colors
   ========================================================================== */
$gray: #696969;